Skip to content
 
Search…
All gists
Back to GitHub
@ndruzhinina 
@dedunumax
dedunumax/.gitignore Java
Last active 8 hours ago • Report abuse
322
96
Code
Revisions
19
Stars
322
Forks
96
<script src="https://gist.github.com/dedunumax/54e82214715e35439227.js"></script>
A complete .gitignore file for Java.
.gitignore Java
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
Load earlier comments...
@dedunumax
Author
dedunumax commented on Jan 12, 2020
Could possibly be maven as well—
(I work with this project but not with the Java portion specifically)

.fatctorpath is a result of Eclipse. So I added it to the Eclipse section.

@dedunumax
Author
dedunumax commented on Jan 12, 2020
Can you can add pom.xml.bak ? Sort plugins make a backup of the pom file

I added the pom.xml.bak too. Thank you!

@ckzgraphics
ckzgraphics commented on Jan 26, 2020
Useful gist 👍

You may add the following as well -

##############################

Visual Studio Code
##############################
.vscode/

@falktan
falktan commented on Mar 18, 2020
I thought VSCode doesn't create files. Let me check and I will change the file accordingly. Thanks a lot for the suggestion.

Apparently VSCode produces pretty much the same files as Eclipse.
It might be reasonable to adjust the comment from "Eclipse" to "Eclipse / VSCode".

@dedunumax
Author
dedunumax commented on Mar 18, 2020
Useful gist 👍

You may add the following as well -

##############################

Visual Studio Code
##############################
.vscode/

Done!

@dedunumax
Author
dedunumax commented on Mar 18, 2020
I thought VSCode doesn't create files. Let me check and I will change the file accordingly. Thanks a lot for the suggestion.

Apparently VSCode produces pretty much the same files as Eclipse.
It might be reasonable to adjust the comment from "Eclipse" to "Eclipse / VSCode".

Thanks a lot for the suggestion! I think they depend on the tools/extensions used with VSCode.

@joedatlive
joedatlive commented on Mar 25, 2020
How about the work space files for VSCode?
*.code-workspace

@alvhix
alvhix commented on Apr 29, 2020
Thank you very much!

@dedunumax
Author
dedunumax commented on May 18, 2020
How about the work space files for VSCode?
*.code-workspace

Done! :D

@ckzgraphics
ckzgraphics commented on May 25, 2020
Another good source- https://www.gitignore.io/

Java- https://www.gitignore.io/api/java%2Cintellij

Original Post- https://stackoverflow.com/a/38259237/2923098

@dedunumax
Author
dedunumax commented on May 25, 2020
Thanks a lot, @ckzgraphics! I personally believe checked in code should be IDE neutral. I don't like adding any file related to the .idea/ folder in the repository.

@ckzgraphics
ckzgraphics commented on May 25, 2020
Yep, @dedunumax. Commented for better reach to the resource 😃

@dedunumax
Author
dedunumax commented on Jun 13, 2020
Yep, @dedunumax. Commented for better reach to the resource 😃

Cool. :D

@belhassenessid
belhassenessid commented on Apr 16, 2021
thanks!

@serhiihoroshko
serhiihoroshko commented on Apr 27, 2021
Thanks!

@money-seoh
money-seoh commented on May 8, 2021
Thank you very much for .gitignore example for java files. It helped me a lot.

@NedkaBlagoeva
NedkaBlagoeva commented on Aug 10, 2021
I'll definitely use it, thanks for sharing :)

@hasanhg
hasanhg commented on Sep 2, 2021
Thanks!

@gibrancastillo
gibrancastillo commented on Sep 30, 2021
Thank you, one for all IDEs. :-)

@Attete
Attete commented on Oct 23, 2021
Thanks!

@andresfeelip29
andresfeelip29 commented on Nov 26, 2021
ty;

@rr-cory-hartford
rr-cory-hartford commented on Jan 14
Rad. Thanks :)

@OpaJaa
OpaJaa commented on Feb 8
Thanks! Using macOs, Netbeans and IntelliJ so good to have comprehensive ignoring :)

@Enter55
Enter55 commented on Feb 23
I needed it I only knew it from Visual studio

Thank you!

@ecivil
ecivil commented on Apr 29
Thanks ... nice job.
Can you add *.NavData ?

@GustavoJoaoSantos
GustavoJoaoSantos commented on Jun 7
nice

@masadamsahid
masadamsahid commented on Jul 3
Its very helping me. Thanks a lot 👍

@BrandontheDev360
BrandontheDev360 commented on Aug 4
Possibly add .env for environment variables?

@Crypter0
Crypter0 commented on Sep 30
Thank you, very nice.

@TonyGravagno
TonyGravagno commented 23 days ago
Thank you for this list! Please add : ._.DS_Store

@ndruzhinina
 
Add heading textAdd bold text, <Ctrl+b>Add italic text, <Ctrl+i>
Add a quote, <Ctrl+Shift+.>Add code, <Ctrl+e>Add a link, <Ctrl+k>
Add a bulleted list, <Ctrl+Shift+8>Add a numbered list, <Ctrl+Shift+7>Add a task list, <Ctrl+Shift+l>
Directly mention a user or team
Reference an issue or pull request
Leave a comment
No file chosen
Attach files by dragging & dropping, selecting or pasting them.
Styling with Markdown is supported
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
